* {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  min-height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0d60f; }

header nav {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto; }

header nav ul li {
  float: left; }

header nav ul li a:hover {
  background-color: #d8ca5a; }

.h1Index {
  display: flex;
  align-items: center; }

.logo img {
  height: 50px;
  margin-right: 10px; }

h1 {
  font-size: xx-large;
  font-family: "Kelvingi Rodrige";
  color: #262626;
  padding: 10px;
  text-align: center;
  width: 100%; }

body {
  background-image: url("../img/imagen fondo para todo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  max-width: 100%; }

#contenedorEnlaces {
  display: flex; }

nav {
  border: 2px solid;
  font-family: "Kelvingi Rodrige";
  font-size: medium;
  background-color: yellow;
  padding: 2px; }

#contenedorPadreIndex {
  display: flex; }

#listaGeneral {
  display: block; }

#tituloListadoGeneral {
  text-align: center;
  font-size: 14px;
  font-family: "Kelvingi Rodrige"; }

.container {
  width: 200px;
  height: 400px;
  font-size: 12px;
  font-family: "Kelvingi Rodrige";
  overflow: auto;
  background-color: yellow;
  border: solid 3px black;
  border-radius: 5px;
  margin: 25px;
  margin-bottom: 50px;
  padding: 50px; }

h3 {
  background-color: yellow;
  border: solid 3px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 25px;
  font-family: 'Kelvingi Rodrige';
  font-size: 21px;
  width: fit-content; }

.mb-3 {
  background-color: yellow;
  border-radius: 5px;
  border: solid 1px;
  width: 555px;
  margin-left: 25px; }

.mb-2 {
  width: 555px;
  margin-left: 25px;
  display: flex;
  justify-content: center; }

.btn {
  margin-right: 100px;
  background-color: white;
  color: black; }

.img-fluid {
  width: 75px;
  height: 75px;
  margin: 25px; }

.form-control {
  width: 500px;
  margin-left: 25px; }

.form-label {
  font-family: "Kelvingi Rodrige";
  margin-left: 25px;
  font-size: 16px; }

.consultaProducto {
  background-color: yellow;
  border: solid 3px;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  margin-left: 25px;
  font-family: 'Kelvingi Rodrige';
  font-size: 21px; }

.contenedorExplicativo {
  display: flex;
  max-width: 1000px;
  max-height: 1000px;
  width: fit-content;
  height: fit-content; }

.hijoContenedorExplicativo {
  background-color: #f0d60f;
  font-size: medium;
  font-family: "Kelvingi Rodrige";
  max-width: 500px;
  max-height: 500px;
  width: fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  right: -600px;
  top: -750px;
  flex-direction: column;
  border: solid 4px; }

.h5HijoContenedorExplicativo {
  background-color: #15b6eb;
  font-family: "Kelvingi Rodrige";
  font-size: medium;
  border-bottom: solid 4px; }

footer {
  margin-top: 200px; }

.divFooter {
  width: 100%;
  background-color: yellow;
  text-align: center;
  position: static; }

@media screen and (max-width: 800px) {
  header nav {
    font-size: 10px;
    width: 70%;
    height: 100%;
    margin: 0px;
    position: fixed;
    right: 100px; } }

@media screen and (max-width: 800px) {
  .h1Index {
    visibility: hidden; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  .container-sm {
    font-size: small;
    width: 100%;
    height: 100%; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  #tituloListadoGeneral {
    font-size: small; } }

@media screen and (max-width: 300px) {
  .navbar {
    position: relative;
    right: -5px; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  body {
    max-width: 100%; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  .mb-3 {
    max-width: 180px; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  .mb-2 {
    max-width: 180px; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  .form-label {
    max-width: 180px; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  .form-control {
    max-width: 180px;
    margin: 0; } }

@media screen and (max-width: 580px) {
  .mb-3 {
    max-width: 50%; } }

@media screen and (max-width: 580px) {
  .mb-2 {
    max-width: 50%; } }

@media screen and (max-width: 580px) {
  .form-label {
    max-width: 50%; } }

@media screen and (max-width: 580px) {
  .form-control {
    max-width: 50%;
    margin: 0; } }

@media screen and (max-width: 580px) {
  .consultaProducto {
    font-size: small;
    padding: 8px;
    max-width: 45%; } }

@media screen and (max-width: 1100px) {
  .hijoContenedorExplicativo {
    width: 50%;
    height: 50%;
    top: 1px;
    right: 1px;
    overflow: auto;
    margin-left: 25px; } }

* {
  margin: 0;
  padding: 0; }

#raquetasWilson {
  text-align: center;
  font-size: medium;
  font-family: "Kelvingi Rodrige";
  color: yellow;
  background-color: black;
  padding: 5px;
  border: solid 1px yellow;
  width: 100px;
  position: relative;
  right: -600px;
  justify-content: center;
  margin-top: 25px; }

.contenedorPadreRaquetasWilson {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px; }

.divRaqueta {
  width: 400px;
  height: 400px;
  background-color: black;
  color: white;
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 50px;
  border: 2px solid #fbff00;
  border-radius: 5px;
  padding: 2px; }

.proOpen {
  height: 390px;
  width: 390px;
  border: 1px; }

.blade98V8Rg {
  height: 390px;
  width: 390px;
  border: 1px; }

.blade98V8 {
  height: 390px;
  width: 390px;
  border: 1px; }

.clash100ProV2 {
  height: 390px;
  width: 390px;
  border: 1px; }

.clash100Pro {
  height: 390px;
  width: 390px;
  border: 1px; }

.clash100Silver {
  height: 390px;
  width: 390px;
  border: 1px; }

.rolandGarrosTeam102 {
  height: 390px;
  width: 390px;
  border: 1px; }

.proStaff97 {
  height: 390px;
  width: 390px;
  border: 1px; }

#raquetasHead {
  text-align: center;
  font-size: medium;
  font-family: "Kelvingi Rodrige";
  color: yellow;
  background-color: black;
  padding: 5px;
  border: solid 1px yellow;
  width: 100px;
  position: relative;
  right: -600px;
  justify-content: center;
  margin-top: 25px; }

.contenedorPadreRaquetasHead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px; }

.attitudeElite {
  height: 390px;
  width: 390px;
  border: 1px; }

.attitudePro {
  height: 390px;
  width: 390px;
  border: 1px; }

.extremePro {
  height: 390px;
  width: 390px;
  border: 1px; }

.extremeTour {
  height: 390px;
  width: 390px;
  border: 1px; }

.challengeMp {
  height: 390px;
  width: 390px;
  border: 1px; }

.gravityTour {
  height: 390px;
  width: 390px;
  border: 1px; }

.prestigePro {
  height: 390px;
  width: 390px;
  border: 1px; }

.radicalPro {
  height: 390px;
  width: 390px;
  border: 1px; }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  .contenedorPadreRaquetasWilson {
    grid-template-columns: 1fr;
    grid-column-gap: 10px; }
  .divRaqueta {
    margin-left: px; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  h1 {
    font-size: small;
    width: max-content; } }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  #raquetasWilson {
    font-size: small;
    position: relative;
    left: 250px;
    margin-top: 25px; } }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  #raquetasHead {
    font-size: small;
    position: relative;
    left: 250px;
    margin-bottom: 25px; } }

@media screen and (max-width: 360px) and (min-width: 200px) {
  .img-fluid {
    width: 30px;
    height: 30px; } }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  .contenedorPadreRaquetasHead {
    grid-template-columns: 1fr;
    grid-column-gap: 10px; } }

/* INICIO Estilo de NOSOTROS */
* {
  margin: 0;
  padding: 0; }

.cuadroInformativoNosotros {
  width: 175px;
  height: 240px;
  font-size: 16px;
  overflow-y: scroll;
  font-family: "Kelvingi Rodrige";
  background-color: yellow;
  border: solid 3px black;
  margin: 25px;
  border-radius: 8px;
  animation-name: color;
  animation-duration: 5s; }

@keyframes color {
  from {
    background-color: yellow; }
  to {
    background-color: aqua; } }

.h2InformativoNosotros {
  background-color: yellow;
  font-family: 'Kelvingi Rodrige';
  font-size: 18px;
  border: solid 2px;
  width: 165px;
  margin-top: 25px;
  margin-left: 25px;
  animation-name: color;
  animation-duration: 5s; }

@keyframes color {
  from {
    background-color: yellow; }
  to {
    background-color: aqua; } }

.padreSectionInformativo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px; }

.hijoSectionInformativo {
  background-color: #3BBDB6;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  max-height: 1000px;
  width: 750px;
  height: 750px;
  border-radius: 10px;
  position: relative;
  top: -335px; }

#cardSectionInformativo {
  background-color: yellow;
  border-radius: 5px;
  padding: 10px;
  margin-left: 25px;
  max-width: 500px;
  max-height: 700px;
  width: fit-content;
  font-family: 'Kelvingi Rodrige';
  font-size: 20px; }

.parrafoCardInformativo {
  text-align: center; }

@media screen and (max-width: 1200px) and (min-width: 200px) {
  .padreSectionInformativo {
    justify-content: flex-start; } }

@media screen and (max-width: 1200px) and (min-width: 200px) {
  .hijoSectionInformativo {
    position: relative;
    top: 50px;
    width: 450px;
    height: 450px; } }

@media screen and (max-width: 1200px) and (min-width: 200px) {
  #cardSectionInformativo {
    font-size: small;
    width: 400px;
    height: 400px;
    justify-content: flex-start; } }

@media screen and (max-width: 400px) and (min-width: 200px) {
  #cardSectionInformativo {
    font-size: small;
    width: 500px;
    height: 500px; } }

@media screen and (max-width: 700px) and (min-width: 200px) {
  #cardSectionInformativo {
    font-size: x-small;
    width: 500px;
    height: 400px; } }

@media screen and (max-width: 700px) and (min-width: 200px) {
  .hijoSectionInformativo {
    width: 300px;
    height: 450px; } }

/* INICIO Estilo del html PALETAS */
* {
  margin: 0;
  padding: 0; }

#paletasWilson {
  font-size: medium;
  font-family: "Kelvingi Rodrige";
  color: yellow;
  background-color: black;
  padding: 5px;
  border: solid 1px yellow;
  width: 100px;
  justify-content: center;
  position: relative;
  left: 600px;
  margin-top: 25px; }

.contenedorPadrePaletasWilson {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px; }

.divPaleta {
  width: 400px;
  height: 250px;
  background-color: black;
  color: white;
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 50px;
  border: 2px solid #fbff00;
  border-radius: 5px;
  padding: 2px; }

.belaLt {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.bladeProV2 {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.belaElite {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.proStaffElite {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.proStaffTeamPadel {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.proStaffLtV2 {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.proStaffEliteV2 {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.padelCupra {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

#paletasHead {
  font-size: medium;
  font-family: "Kelvingi Rodrige";
  color: yellow;
  background-color: black;
  padding: 5px;
  border: solid 1px yellow;
  width: 100px;
  justify-content: center;
  position: relative;
  left: 600px; }

.headFlash {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.headFlashPro {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.headGravity {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.headGravityPro {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.headGravityMotion {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.headZephyr {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.headDelta {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.headEvoDelta {
  width: 390px;
  height: 240px;
  border-radius: 10px; }

.contenedorPadrePaletasHead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px; }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  .contenedorPadrePaletasWilson {
    grid-template-columns: 1fr;
    grid-column-gap: 10px; } }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  .contenedorPadrePaletasHead {
    grid-template-columns: 1fr;
    grid-column-gap: 10px; } }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  #paletasWilson {
    font-size: small;
    position: relative;
    left: 250px;
    margin-top: 25px; } }

@media screen and (max-width: 1000px) and (min-width: 200px) {
  #paletasHead {
    font-size: small;
    position: relative;
    left: 250px;
    margin-bottom: 25px; } }

/* INICIO ESTILO ACCESORIOS */
* {
  margin: 0;
  padding: 0; }

#accesoriosWilson {
  text-align: center;
  font-size: medium;
  font-family: "Kelvingi Rodrige";
  color: yellow;
  background-color: black;
  padding: 5px;
  border: solid 1px yellow;
  width: 120px;
  position: relative;
  left: 600px;
  justify-content: center;
  margin-top: 15px; }

.divAccesorios {
  width: 300px;
  height: 300px;
  background-color: white;
  color: white;
  border: 2px solid #fbff00;
  border-radius: 5px; }

.contenedorPadreAccesoriosWilson {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-left: 25px; }

#accesoriosHead {
  text-align: center;
  font-size: medium;
  font-family: "Kelvingi Rodrige";
  color: yellow;
  background-color: black;
  padding: 5px;
  border: solid 1px yellow;
  width: 120px;
  position: relative;
  right: -600px;
  justify-content: center;
  margin-top: 15px; }

.contenedorPadreAccesoriosHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-left: 25px; }

@media screen and (max-width: 500px) {
  .logo {
    visibility: hidden; } }

@media screen and (max-width: 600px) {
  .contenedorPadreAccesoriosHead {
    grid-template-columns: 1fr;
    grid-column-gap: 10px; } }

@media screen and (max-width: 600px) {
  .contenedorPadreAccesoriosWilson {
    grid-template-columns: 1fr;
    grid-column-gap: 10px; } }

@media screen and (max-width: 600px) {
  #accesoriosHead {
    position: relative;
    left: 100px; } }

@media screen and (max-width: 600px) {
  #accesoriosWilson {
    position: relative;
    left: 100px; } }

@media screen and (min-width: 600px) {
  #accesoriosHead {
    position: relative;
    left: 300px; } }

@media screen and (max-width: 600px) {
  #accesoriosWilson {
    position: relative;
    left: 300px; } }

@media screen and (max-width: 900px) and (min-width: 580px) {
  .contenedorPadreAccesoriosWilson {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px; } }

@media screen and (max-width: 900px) and (min-width: 580px) {
  .contenedorPadreAccesoriosHead {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px; } }

/* FIN ESTILO ACCESORIOS */
