@import 'fonts';
@import 'displays';

* {
    margin: 0;
    padding: 0;
}

header{
    display: $dF;
    min-height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0d60f;
}

.logo{
    display: $dF;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

h1 {
    font-size: $font-size-xxl;
    font-family: $font-family;
    color: rgb(38, 38, 38);
    padding: 10px;
    text-align: center;
    width: 100%;

}

body {
    background-image: url("../img/imagen\ fondo\ para\ todo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    
}

#contenedorEnlaces {
    display: $dF;
}
    nav {
        border: 2px solid;
        font-size: $font-size-sm;
        font-family: $font-family;
        background-color: yellow;
        padding: 2px;
    }

#contenedorPadreIndex {
    display: $dF;
}

#listaGeneral {
    display: $dB;
}

#tituloListadoGeneral {
    text-align: center;
    font-size: 12px;
    font-family: $font-family;
}

.container{
    width:200px;
    height: 400px;
    background-color: yellow;
    overflow: auto;
    border: solid 3px black;
    border-radius: 5px;
    margin: 25px;
    margin-bottom: 50px;
    padding: 50px;
}

#listaGral {
    color: maroon;
}

h3 {
    background-color: yellow;
    border: solid 3px;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    margin-left: 25px;
    font-family: 'Kelvingi Rodrige';
    font-size: 21px;
}

.mb-3 {
    background-color: yellow;
    border-radius: 5px;
    border: solid 1px;
    width: 555px;
    margin-left: 25px;
    
}

.mb-2 {
    width: 555px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.btn {
    margin-right: 100px;
    background-color: white;
    color: black;
}

.img-fluid {
    height: 70px;
    width: 70px;
}

.form-control {
    width: 500px;
    margin-left: 25px;
}

.form-label {
    font-family: $font-family;
    margin-left: 25px;
    font-size: 16px;
}

footer {
    margin-top: 200px;
}

.divFooter {
    width: 100%;
    background-color: yellow;
    text-align: center;
    position: static;
}
@media screen and (max-width:360px) and (min-width:200px){
    .container-sm{
        font-size:$font-size-sm;
        width:100%;
        height: 100%;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    #tituloListadoGeneral{
        font-size: $font-size-sm;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .enlacesPaginas {
        border: 2px solid;
        border-radius: 3px;
        font-size: small;
        font-family: 'Kelvingi Rodrige';
        background-color: yellow;
        display: inline;

    }
}

@media screen and (max-width:360px) and (min-width:200px){
    .linkPaginas {
        display: inline;
    }
}

@media screen and (max-width:360px) and (min-width:200px){
    body{
        max-width: 100%;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .mb-3{
        max-width: 180px ;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .mb-2{
        max-width: 180px ;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .form-label{
        max-width: 180px ;
 
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .form-control{
        max-width: 180px;
        margin: 0;
    }
}

@media screen and (max-width:580px) {
    .mb-3{
        max-width: 50% ;
    }
}
@media screen and (max-width:580px) {
    .mb-2{
        max-width: 50% ;
    }
}
@media screen and (max-width:580px) {
    .form-label{
        max-width: 50% ;
    }
}
@media screen and (max-width:580px) {
    .form-control{
        max-width: 50%;
        margin: 0;
    }
}

//Raquetas
* {
    margin: 0;
    padding: 0;
}

#raquetasWilson {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    margin-left: 650px;
    justify-content: center;
}

.contenedorPadreRaquetasWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.divRaqueta {
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    display: $dIB;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 2px solid rgb(251, 255, 0);
    border-radius: 5px;
    padding: 2px;
}

.proOpen {
    height: 400px;
    width: 400px;
}

.blade98V8Rg {
    height: 400px;
    width: 400px;
}

.blade98V8 {
    height: 400px;
    width: 400px;
}

.clash100ProV2 {
    height: 400px;
    width: 400px;
}

.clash100Pro {
    height: 400px;
    width: 400px;
}

.clash100Silver {
    height: 400px;
    width: 400px;
}

.rolandGarrosTeam102 {
    height: 400px;
    width: 400px;
}

#raquetasHead {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    margin-left: 650px;
    justify-content: center;
}

.contenedorPadreRaquetasHead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

@media screen and (max-width:360px) and (min-width:200px){
    .contenedorPadreRaquetasWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}

@media screen and (max-width:360px) and (min-width:200px){
    h1 {
        font-size: small;
        width: max-content;
    }
}

@media screen and (max-width:360px) and (min-width:200px){
    #raquetasWilson {
        font-size: small;
        margin-right: 100px;
    }
}

@media screen and (max-width:360px) and (min-width:200px){
    .img-fluid {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:360px) and (min-width:200px){
    .contenedorPadreRaquetasHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}

/* INICIO Estilo de NOSOTROS */
* {
    margin: 0;
    padding: 0;
}

.cuadroInformativoNosotros {

    width: 175px;
    height: 240px;
    font-size: 16px;
    overflow-y: scroll;
    font-family: $font-family;
    background-color: yellow;
    border: solid 3px black;
    margin: 25px;
    border-radius: 8px;
    animation-name: color;
    animation-duration: 5s;
}

@keyframes color {
    from {
        background-color: yellow;
    }

    to {
        background-color: aqua;
    }
}

.h2InformativoNosotros {
    background-color: yellow;
    font-family: 'Kelvingi Rodrige';
    font-size: 18px;
    border: solid 2px;
    width: 165px;
    margin-top: 25px;
    margin-left: 25px;
    animation-name: color;
    animation-duration: 5s;
}

@keyframes color {
    from {
        background-color: yellow;
    }

    to {
        background-color: aqua;
    }
}
.padreSectionInformativo{
    display: $dF;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    
    
}
.hijoSectionInformativo{
    background-color: #3BBDB6;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    max-height: 1000px;
    width: 750px;
    height: 750px;
    border-radius: 10px;
    position: relative;
    top: -335px;
}
#cardSectionInformativo{
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
    max-width: 500px;
    max-height: 700px;
    width: fit-content;
    font-family: 'Kelvingi Rodrige';
    font-size: 20px;

}
.parrafoCardInformativo{
    text-align: center;
}

@media screen and (max-width:1200px) and (min-width:200px){
    .padreSectionInformativo{
        justify-content: flex-start;
    }
}

@media screen and (max-width:1200px) and (min-width:200px){
.hijoSectionInformativo{
    position: relative;
    top: 50px;
    width: 450px;
    height: 450px;
}
}
@media screen and (max-width:1200px) and (min-width:200px){
    #cardSectionInformativo{
        font-size: $font-size-sm;
        width: 400px;
        height: 400px;
        justify-content: flex-start;
    }
}

@media screen and (max-width:400px) and (min-width:200px){
    #cardSectionInformativo{
        font-size: $font-size-sm;
        width: 500px;
        height: 500px;
    }
    }
    @media screen and (max-width:700px) and (min-width:200px){
        #cardSectionInformativo{
            font-size: $font-size-xs;
            width: 500px;
            height: 400px;
        }
        }
        @media screen and (max-width:700px) and (min-width:200px){
            .hijoSectionInformativo{
                width: 300px;
                height: 450px;
            }
        }





/* INICIO Estilo del html PALETAS */
* {
    margin: 0;
    padding: 0;
}

#paletasWilson {
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    margin-left: 600px;
    justify-content: center;
}

.contenedorPadrePaletasWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

}

.divPaleta {
    width: 400px;
    height: 250px;
    background-color: black;
    color: white;
    display: $dIB;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 2px solid rgb(251, 255, 0);
    border-radius: 5px;
    padding: 2px;
}

.belaLt {
    width: 400px;
    height: 250px;
}

.bladeProV2 {
    width: 400px;
    height: 250px;
}

.belaElite {
    width: 400px;
    height: 250px;
}

.proStaffElite {
    width: 400px;
    height: 250px;
}

.proStaffTeamPadel {
    width: 400px;
    height: 250px;
}

.proStaffLtV2 {
    width: 400px;
    height: 250px;
}

.proStaffEliteV2 {
    width: 400px;
    height: 250px;
}

.padelCupra {
    width: 400px;
    height: 250px;
}

#paletasHead {
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    margin-left: 600px;
    justify-content: center;
}

.contenedorPadrePaletasHead {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

}

/* INICIO ESTILO ACCESORIOS */
* {
    margin: 0;
    padding: 0;
}

#accesoriosWilson {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    margin-left: 650px;
    justify-content: center;
}

.divAccesorios {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    border: 2px solid rgb(251, 255, 0);
    border-radius: 5px;

}

.contenedorPadreAccesoriosWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

@media screen and (max-width:480px) and (min-width:200px){
    .contenedorPadreAccesoriosWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}

#accesoriosHead {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    margin-left: 650px;
    justify-content: center;
}

.contenedorPadreAccesoriosHead {
    display: $dG;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

@media screen and (max-width:480px) and (min-width:200px){
    .contenedorPadreAccesoriosHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}

/* FIN ESTILO ACCESORIOS */