@import 'fonts';
@import 'displays';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

header{
    display: $dF;
    min-height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0d60f;
}
header nav{
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
}
header nav ul li{
    float: left;
}
header nav ul li a:hover{
    background-color: #d8ca5a;
}
.logo{
    display: $dF;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

h1 {
    font-size: $font-size-xxl;
    font-family: $font-family;
    color: rgb(38, 38, 38);
    padding: 10px;
    text-align: center;
    width: 100%;

}

body {
    background-image: url("../img/imagen\ fondo\ para\ todo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    
}

#contenedorEnlaces {
    display: $dF;
}
    nav {
        border: 2px solid;
        font-family: $font-family;
        font-size: $font-size-md;
        background-color: yellow;
        padding: 2px;
    }

#contenedorPadreIndex {
    display: $dF;
}

#listaGeneral {
    display: $dB;
}

#tituloListadoGeneral {
    text-align: center;
    font-size: 14px;
    font-family: $font-family;
}

.container{
    @include cuadros(200px, 400px);
    @include textos(12px);
    overflow: auto;
    background-color: yellow;
    border: solid 3px black;
    border-radius: 5px;
    margin: 25px;
    margin-bottom: 50px;
    padding: 50px;
}

h3 {
    background-color: yellow;
    border: solid 3px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
    font-family: 'Kelvingi Rodrige';
    font-size: 21px;
    width: fit-content;
}

.mb-3 {
    background-color: yellow;
    border-radius: 5px;
    border: solid 1px;
    width: 555px;
    margin-left: 25px;
    
}

.mb-2 {
    width: 555px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.btn {
    margin-right: 100px;
    background-color: white;
    color: black;
}

.img-fluid {
   @include cuadros(70px, 70px);
}

.form-control {
    width: 500px;
    margin-left: 25px;
}

.form-label {
    font-family: $font-family;
    margin-left: 25px;
    font-size: 16px;
}
.consultaProducto{
        background-color: yellow;
        border: solid 3px;
        border-radius: 5px;
        padding: 10px;
        width: fit-content;
        margin-left: 25px;
        font-family: 'Kelvingi Rodrige';
        font-size: 21px;
}
.contenedorExplicativo{
    display: $dF;
    max-width: 1000px;
    max-height: 1000px;
   @include cuadros(fit-content, fit-content);

    

}
.hijoContenedorExplicativo{
    background-color: #f0d60f;
   @include textos($font-size-md);
    max-width: 500px;
    max-height: 500px;
    @include cuadros(fit-content, fit-content);
    display: $dF;
    position: relative;
    right: -600px;
    top: -750px;
    flex-direction: column;
    border: solid 4px;

}
.h5HijoContenedorExplicativo{
    background-color: #15b6eb;
    font-family: $font-family;
    font-size: $font-size-md;
    border-bottom: solid 4px;
}

footer {
    margin-top: 200px;
}

.divFooter {
    width: 100%;
    background-color: yellow;
    text-align: center;
    position: static;
}
@media screen and (max-width:800px){
    header nav{
        font-size: 10px;
        width: 70%;
        height: 40%;
        margin: 0px;
        position: fixed;
        right: 100px;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .container-sm{
        font-size:$font-size-sm;
        width:100%;
        height: 100%;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    #tituloListadoGeneral{
        font-size: $font-size-sm;
    }
}
@media screen and (max-width:300px) {
    .navbar{
        position: relative;
        right: -5px;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    body{
        max-width: 100%;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .mb-3{
        max-width: 180px ;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .mb-2{
        max-width: 180px ;
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .form-label{
        max-width: 180px ;
 
    }
}
@media screen and (max-width:360px) and (min-width:200px){
    .form-control{
        max-width: 180px;
        margin: 0;
    }
}

@media screen and (max-width:580px) {
    .mb-3{
        max-width: 50% ;
    }
}
@media screen and (max-width:580px) {
    .mb-2{
        max-width: 50% ;
    }
}
@media screen and (max-width:580px) {
    .form-label{
        max-width: 50% ;
    }
}
@media screen and (max-width:580px) {
    .form-control{
        max-width: 50%;
        margin: 0;
    }
}
@media screen and (max-width:580px) {
.consultaProducto{
    font-size: $font-size-sm;
    padding: 8px;
    max-width: 45%;
}
}

//Raquetas
* {
    margin: 0;
    padding: 0;
}

#raquetasWilson {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    position: relative;
    right: -600px;
    justify-content: center;
    margin-top: 25px;
}

.contenedorPadreRaquetasWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.divRaqueta {
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    display: $dIB;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 2px solid rgb(251, 255, 0);
    border-radius: 5px;
    padding: 2px;
}

.proOpen {
    height: 390px;
    width: 390px;
    border: 1px;
}

.blade98V8Rg {
    height: 390px;
    width: 390px;
    border: 1px;
}

.blade98V8 {
    height: 390px;
    width: 390px;
    border: 1px;
}

.clash100ProV2 {
    height: 390px;
    width: 390px;
    border: 1px;
}

.clash100Pro {
    height: 390px;
    width: 390px;
    border: 1px;
}

.clash100Silver {
    height: 390px;
    width: 390px;
    border: 1px;
}

.rolandGarrosTeam102 {
    height: 390px;
    width: 390px;
    border: 1px;
}
.proStaff97{
    height: 390px;
    width: 390px;
    border: 1px;
}


#raquetasHead {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    position: relative;
    right: -600px;
    justify-content: center;
    margin-top: 25px;
}

.contenedorPadreRaquetasHead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.attitudeElite{
    height: 390px;
    width: 390px;
    border: 1px;
}
.attitudePro{
    height: 390px;
    width: 390px;
    border: 1px;
}
.extremePro{
    height: 390px;
    width: 390px;
    border: 1px;
}
.extremeTour{
    height: 390px;
    width: 390px;
    border: 1px;
}
.challengeMp{
    height: 390px;
    width: 390px;
    border: 1px;
}
.gravityTour{
    height: 390px;
    width: 390px;
    border: 1px;
}
.prestigePro{
    height: 390px;
    width: 390px;
    border: 1px;
}
.radicalPro{
    height: 390px;
    width: 390px;
    border: 1px;
}
@media screen and (max-width:1000px) and (min-width:200px){
    .contenedorPadreRaquetasWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}

@media screen and (max-width:360px) and (min-width:200px){
    h1 {
        font-size: $font-size-sm;
        width: max-content;
    }
}

@media screen and (max-width:1000px) and (min-width:200px){
    #raquetasWilson {
       font-size: $font-size-sm;
       position: relative;
       left: -400px;
       margin-top: 25px;
    }
}
@media screen and (max-width:1000px) and (min-width:200px){
    #raquetasHead {
       font-size: $font-size-sm;
       position: relative;
       left: -400px;
       margin-bottom: 25px;
    }
}

@media screen and (max-width:360px) and (min-width:200px){
    .img-fluid {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:1000px) and (min-width:200px){
    .contenedorPadreRaquetasHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}

/* INICIO Estilo de NOSOTROS */
* {
    margin: 0;
    padding: 0;
}

.cuadroInformativoNosotros {

    width: 175px;
    height: 240px;
    font-size: 16px;
    overflow-y: scroll;
    font-family: $font-family;
    background-color: yellow;
    border: solid 3px black;
    margin: 25px;
    border-radius: 8px;
    animation-name: color;
    animation-duration: 5s;
}

@keyframes color {
    from {
        background-color: yellow;
    }

    to {
        background-color: aqua;
    }
}

.h2InformativoNosotros {
    background-color: yellow;
    font-family: 'Kelvingi Rodrige';
    font-size: 18px;
    border: solid 2px;
    width: 165px;
    margin-top: 25px;
    margin-left: 25px;
    animation-name: color;
    animation-duration: 5s;
}

@keyframes color {
    from {
        background-color: yellow;
    }

    to {
        background-color: aqua;
    }
}
.padreSectionInformativo{
    display: $dF;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    
    
}
.hijoSectionInformativo{
    background-color: #3BBDB6;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    max-height: 1000px;
    width: 750px;
    height: 750px;
    border-radius: 10px;
    position: relative;
    top: -335px;
}
#cardSectionInformativo{
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
    max-width: 500px;
    max-height: 700px;
    width: fit-content;
    font-family: 'Kelvingi Rodrige';
    font-size: 20px;

}
.parrafoCardInformativo{
    text-align: center;
}

@media screen and (max-width:1200px) and (min-width:200px){
    .padreSectionInformativo{
        justify-content: flex-start;
    }
}

@media screen and (max-width:1200px) and (min-width:200px){
.hijoSectionInformativo{
    position: relative;
    top: 50px;
    width: 450px;
    height: 450px;
}
}
@media screen and (max-width:1200px) and (min-width:200px){
    #cardSectionInformativo{
        font-size: $font-size-sm;
        width: 400px;
        height: 400px;
        justify-content: flex-start;
    }
}

@media screen and (max-width:400px) and (min-width:200px){
    #cardSectionInformativo{
        font-size: $font-size-sm;
        width: 500px;
        height: 500px;
    }
    }
    @media screen and (max-width:700px) and (min-width:200px){
        #cardSectionInformativo{
            font-size: $font-size-xs;
            width: 500px;
            height: 400px;
        }
        }
        @media screen and (max-width:700px) and (min-width:200px){
            .hijoSectionInformativo{
                width: 300px;
                height: 450px;
            }
        }





/* INICIO Estilo del html PALETAS */
* {
    margin: 0;
    padding: 0;
}

#paletasWilson {
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    justify-content: center;
    position: relative;
    left: 600px;
    margin-top: 25px;
}

.contenedorPadrePaletasWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

}

.divPaleta {
    width: 400px;
    height: 250px;
    background-color: black;
    color: white;
    display: $dIB;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 2px solid rgb(251, 255, 0);
    border-radius: 5px;
    padding: 2px;
}

.belaLt {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.bladeProV2 {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.belaElite {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.proStaffElite {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.proStaffTeamPadel {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.proStaffLtV2 {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.proStaffEliteV2 {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.padelCupra {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

#paletasHead {
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 100px;
    justify-content: center;
    position: relative;
    left: 600px;
}

.headFlash{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.headFlashPro{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.headGravity{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.headGravityPro{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.headGravityMotion{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.headZephyr{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.headDelta{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.headEvoDelta{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}

.contenedorPadrePaletasHead {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

}

@media screen and (max-width:1000px) and (min-width:200px){
    .contenedorPadrePaletasWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}
@media screen and (max-width:1000px) and (min-width:200px){
    .contenedorPadrePaletasHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}


@media screen and (max-width:1000px) and (min-width:200px){
    #paletasWilson {
       font-size: $font-size-sm;
       position: relative;
       left: 250px;
       margin-top: 25px;
    }
}
@media screen and (max-width:1000px) and (min-width:200px){
    #paletasHead {
       font-size: $font-size-sm;
       position: relative;
       left: 250px;
       margin-bottom: 25px;
    }
}

/* INICIO ESTILO ACCESORIOS */
* {
    margin: 0;
    padding: 0;
}

#accesoriosWilson {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 120px;
    position: relative;
    right: -600px;
    justify-content: center;
    margin-top: 15px;
}

.divAccesorios {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    border: 2px solid rgb(251, 255, 0);
    border-radius: 5px;

}

.contenedorPadreAccesoriosWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}


#accesoriosHead {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: yellow;
    background-color: black;
    padding: 5px;
    border: solid 1px yellow;
    width: 120px;
    position: relative;
    right: -600px;
    justify-content: center;
    margin-top: 15px;
}

.contenedorPadreAccesoriosHead {
    display: $dG;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

@media screen and (max-width:600px) {
    .contenedorPadreAccesoriosHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}
@media screen and (max-width:600px) {
    .contenedorPadreAccesoriosWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}
@media screen and (max-width:600px) {
    #accesoriosHead{
      position: relative;
      left: 100px;
    }
}
@media screen and (max-width:600px) {
    #accesoriosWilson{
      position: relative;
      left: 100px;
    }
}
@media screen and (min-width:600px) {
    #accesoriosHead{
      position: relative;
      left: 300px;
    }
}
@media screen and (min-width:600px) {
    #accesoriosWilson{
      position: relative;
      left: 300px;
    }
}

@media screen and (max-width:900px) and (min-width:580px){
    .contenedorPadreAccesoriosWilson {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

@media screen and (max-width:900px) and (min-width:580px) {
    .contenedorPadreAccesoriosHead {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

/* FIN ESTILO ACCESORIOS */

