@import  'fonts',
                 'displays',
                 'mixins',
                 'variables',
                 'clases-predeterminadas-extend';


* {
    margin: 0;
    padding: 0;
}

header{
    display: $dF;
    min-height: 70px;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: map-get($colores, "primario");
}

header nav{
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
}
header nav ul li a:hover{
    background-color: map-get($colores, "amarillo oscuro");
}
.dropdown-item:hover{
    background-color: map-get($colores, "amarillo oscuro");
}

.h1TituloPaginas{
    display: $dF;
    align-items: center;
    position: relative;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

h1 {
    @extend .fuentes;
    font-size: $font-size-xxl;
    color: rgb(38, 38, 38);
    padding: 10px;
    text-align: center;
    width: 100%;
}

body {
    background-image: url("../img/imagen\ fondo\ para\ todo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    margin-right: 0%;
}
nav {
        border: 2px solid;
        font-family: $font-family;
        font-size: $font-size-md;
        background-color: map-get($colores, "primario");
        position: absolute;
   
    }
.navbar-expand-sm{
    max-width: 100%;
}
#contenedorPadreIndex {
    display: $dF;
}

#listaGeneral {
    display: $dB;
}

#tituloListadoGeneral {
    text-align: center;
    font-size: 14px;
    font-family: $font-family;
}

.container{
    @include cuadros(200px, 400px);
    @include textos(12px);
    overflow: auto;
    max-width: 100%;
    background-color: map-get($colores, "primario");
    border: solid 3px map-get($colores, "negro");
    border-radius: 5px;
   @extend .margenCinco;
    margin-bottom: 50px;
    padding: 50px;
}

.container-fluid{
    max-width: 100%;
    max-height: 100%;
}

h3 {
    background-color: map-get($colores, "primario");
    border: solid 3px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
    font-family: 'Kelvingi Rodrige';
    font-size: 21px;
    width: fit-content;
}

.mb-3 {
    background-color: map-get($colores, "primario");
    border-radius: 5px;
    border: solid 1px;
    width: 555px;
    @extend .margenUno;
    
}

.mb-2 {
    width: 555px;
    @extend .margenUno;
    display: flex;
    justify-content: center;
}

.btn {
    margin-right: 100px;
    background-color: map-get($colores, "blanco");
    color: map-get($colores, "negro");
}

.img-fluid {
   @include cuadros(75px, 75px);
   @extend .margenCinco;
}
.form-control {
    width: 500px;
    @extend .margenUno;
}

.form-label {
    font-family: $font-family;
    @extend .margenUno;
    font-size: 16px;
}
.consultaProducto{
        background-color: map-get($colores, "primario");
        border: solid 3px;
        border-radius: 5px;
        padding: 10px;
        width: fit-content;
        @extend .margenUno;
        font-family: 'Kelvingi Rodrige';
        font-size: 21px;
}
.contenedorExplicativo{
    display: $dF;
    max-width: 100%;
    max-height: 100%;
   @include cuadros(fit-content, fit-content);
}
.hijoContenedorExplicativo{
    background-color: map-get($colores, "primario");
   @include textos($font-size-md);
    max-width: 500px;
    max-height: 500px;
    @include cuadros(fit-content, fit-content);
    display: $dF;
    position: relative;
    right: -600px;
    top: -750px;
    flex-direction: column;
    border: solid 4px;

}
.h5HijoContenedorExplicativo{
    background-color: map-get($colores, "secundario");
    @extend .fuentes;
    border-bottom: solid 4px;
}

footer {
    margin-top: 200px;
}

.divFooter {
    width: 100%;
    background-color: map-get($colores, "primario");
    text-align: center;
    position: static;
}

@media screen and (max-width:1060px){
    .h1TituloPaginas{
        font-size: 14px;
    }
}
@media screen and (max-width:940px){
    .h1TituloPaginas{
        visibility: hidden;
    }
    .navbar-expand-sm{
        position: relative;
        right: 100px;
    }
}
@media screen and (max-width:840px){
    .navbar-expand-sm{
        width: 80%;
    }

}
@media screen and (max-width:800px){
    .navbar-expand-sm{
        width: 100%;
        font-size: 100%;
        right: 230px;
    }
    .nav-link{
        position: relative;
        left: 35px;
        text-align: center;
    }
    .h1TituloPaginas{
        visibility: hidden;
    }
    .logoPelota{
        visibility: hidden;
    }
}

@media screen and (max-width:580px) {
    .mb-3{
        max-width: 50% ;
    }
    .mb-2{
        max-width: 50% ;
    }
    .form-label{
        max-width: 50% ;
    }
    .form-control{
        max-width: 50%;
        margin: 0;
    }
    .consultaProducto{
        font-size: $font-size-sm;
        padding: 8px;
        max-width: 45%;
    }
}
@media screen and (max-width:560px){
    .navbar-expand-sm{
        position: relative;
        right: 250px;
    }
    .logoPelota{
        visibility: hidden;
    }
    .nav-link{
        font-size: 20px;
        left: 20px;
    }
    .h1TituloPaginas{
        visibility: visible ;
        position: relative;
        left: 20px;
        font-size: 22px;
   }
}
@media screen and (max-width:540px){
    .h1TituloPaginas{
      position: relative;
      left: 150px;
    }
}
@media screen and (max-width:414px){
    .h1TituloPaginas{
        position: relative;
        left: 25px;
    }
}
@media screen and (max-width:412px){
    .navbar-expand-sm{
        right: 290px;
    }
    .h1TituloPaginas{
        position: relative;
        left: 20px;
    }
    
}
@media screen and (max-width:360px) {
    .container-sm{
        font-size:$font-size-sm;
        width:100%;
        height: 100%;
    }
    #tituloListadoGeneral{
        font-size: $font-size-sm;
    }
    body{
        max-width: 100%;
    }
    .mb-3{
        max-width: 180px ;
    }
    .mb-2{
        max-width: 180px ;
    }
    .form-label{
        max-width: 180px ;
 
    }
    .form-control{
        max-width: 180px;
        margin: 0;
    }
    .navbar-expand-sm{
        width: 100%;
        right: 240px;
    }
    .nav-link{
        font-size: 14px;
        left: auto;
    }
    .navbar-brand{
        font-size: 18px;
    }
    .h1TituloPaginas{
        visibility: hidden;
        position: relative;
        right: 204px;
    }
}

@media screen and (max-width:1100px){
  .hijoContenedorExplicativo{
    width: 50%;
    height: 50%;
    top: 1px;
    right: 1px;
    overflow: auto;
    margin-left: 25px;
  }
}
//Raquetas
* {
    margin: 0;
    padding: 0;
}

#raquetasWilson {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: map-get($colores, "secundario");                              
    background-color: map-get($colores, "negro");
    padding: 5px;
    border: solid 1px map-get($colores, "primario");
    width: 100px;
    position: relative;
    left: 600px;
    justify-content: center;
    justify-self: right;
    margin-top: 25px;
}

.contenedorPadreRaquetasWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.divRaqueta {
    width: 400px;
    height: 400px;
    background-color: map-get($colores, "negro");
    color: map-get($colores, "blanco");
    display: $dIB;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 2px solid map-get($colores, "primario");
    border-radius: 5px;
    padding: 2px;
    overflow: hidden;
}

.proOpen {
    height: 390px;
    width: 390px;
    border: 1px;
    animation: zoom 3s;
}
.divRaqueta:hover .proOpen{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.blade98V8Rg {
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .blade98V8Rg{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.blade98V8 {
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .blade98V8{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.clash100ProV2 {
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .clash100ProV2{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.clash100Pro {
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .clash100Pro{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.clash100Silver {
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .clash100Silver{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.rolandGarrosTeam102 {
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .rolandGarrosTeam102{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.proStaff97{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .proStaff97{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

#raquetasHead {
@extend #raquetasWilson
}

.contenedorPadreRaquetasHead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.attitudeElite{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .attitudeElite{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.attitudePro{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .attitudePro{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.extremePro{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .extremePro{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.extremeTour{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .extremeTour{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.challengeMp{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .challengeMp{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.gravityTour{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .gravityTour{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.prestigePro{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .prestigePro{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.radicalPro{
    height: 390px;
    width: 390px;
    border: 1px;
}
.divRaqueta:hover .radicalPro{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}



@media screen and (max-width:1000px){
    .contenedorPadreRaquetasWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
    .divRaqueta{
        margin-left: px;
    }
    #raquetasWilson {
        font-size: $font-size-sm;
        position: relative;
        left: 250px;
        margin-top: 25px;
     }
     #raquetasHead {
        font-size: $font-size-sm;
        position: relative;
        left: 250px;
        margin-bottom: 25px;
     }
     .contenedorPadreRaquetasHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
      
    }
}

@media screen and (max-width:375px){
    .h1TituloPaginas {
        font-size: $font-size-sm;
        width: max-content;
        position: relative;
        left: 180px;
    }
    .navbar-expand-sm{
        position: sticky;
        
    }
    .img-fluid {
        width: 30px;
        height: 30px;
        visibility: hidden;
    }
    .divRaqueta{
        position: relative;
        right: 90px;
        width: 90%;
        height: 90%;
    }
    #raquetasWilson{
        position: relative;
        left: 150px;
    }
    #raquetasHead{
        position: relative;
        left: 150px;
    }
}


/* INICIO Estilo de NOSOTROS */
* {
    margin: 0;
    padding: 0;
}

.cuadroInformativoNosotros {

    width: 175px;
    height: 240px;
    font-size: 16px;
    overflow-y: scroll;
    font-family: $font-family;
    background-color: map-get($colores, "primario");
    border: solid 3px map-get($colores, "negro");
    position: relative;
    left: 20px;
    top: 25px;
    margin-bottom: 5px;
    border-radius: 8px;
    animation-name: color;
    animation-duration: 5s;
}

@keyframes color {
    from {
        background-color: map-get($colores, "primario");
    }

    to {
        background-color: map-get($colores, "secundario");
    }
}

.h2InformativoNosotros {
    background-color: map-get($colores, "primario");
    font-family: 'Kelvingi Rodrige';
    font-size: 18px;
    border: solid 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 165px;
    position: relative;
    left: 20px;
    top: 25px;
    animation-name: color;
    animation-duration: 5s;
}

@keyframes color {
    from {
        background-color: map-get($colores, "primario");
    }

    to {
        background-color: map-get($colores, "secundario");
    }
}
.padreSectionInformativo{
    position: relative;
    left: 50px;
    max-width: 100%;
}
.hijoSectionInformativo{
    background-color: #3BBDB6;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    max-height: 1000px;
    width: 750px;
    height: 750px;
    border-radius: 10px;
    position: relative;
    bottom: 270px ;
    right: 25px;
}
#cardSectionInformativo{
    background-color: map-get($colores, "primario");
    border-radius: 5px;
    padding: 10px;
    position: relative;
    max-width: 500px;
    max-height: 700px;
    width: fit-content;
    font-family: 'Kelvingi Rodrige';
    font-size: 20px;

}
.parrafoCardInformativo{
    text-align: center;
}

@media screen and (max-width:1200px) and (min-width:200px){
    .padreSectionInformativo{
        justify-content: flex-start;
    }
}

@media screen and (max-width:1200px) and (min-width:200px){
.hijoSectionInformativo{
    position: relative;
    top: 50px;
    width: 450px;
    height: 450px;
}
}
@media screen and (max-width:1200px) and (min-width:200px){
    #cardSectionInformativo{
        font-size: $font-size-sm;
        width: 400px;
        height: 400px;
        justify-content: flex-start;
    }
}

@media screen and (max-width:400px) and (min-width:200px){
    #cardSectionInformativo{
        font-size: $font-size-sm;
        width: 500px;
        height: 500px;
    }
    }
    @media screen and (max-width:700px) and (min-width:200px){
        #cardSectionInformativo{
            font-size: $font-size-xs;
            width: 500px;
            height: 400px;
        }
        }
        @media screen and (max-width:700px) and (min-width:200px){
            .hijoSectionInformativo{
                width: 300px;
                height: 450px;
            }
        }

/* INICIO Estilo del html PALETAS */
* {
    margin: 0;
    padding: 0;
}

#paletasWilson {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: map-get($colores, "secundario");                              
    background-color: map-get($colores, "negro");
    padding: 5px;
    border: solid 1px map-get($colores, "primario");
    width: 100px;
    position: relative;
    right: -600px;
    justify-content: center;
    margin-top: 25px;
}

.contenedorPadrePaletasWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.divPaleta {
    width: 400px;
    height: 250px;
    background-color: map-get($colores, "negro");
    color: map-get($colores, "blanco");
    display: $dIB;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 2px solid map-get($colores, "primario");
    border-radius: 5px;
    padding: 2px;
    overflow: hidden;
}

.belaLt {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .belaLt{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.bladeProV2 {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .bladeProV2{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.belaElite {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .belaElite{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.proStaffElite {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .proStaffElite{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.proStaffTeamPadel {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .proStaffTeamPadel {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.proStaffLtV2 {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .proStaffLtV2{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.proStaffEliteV2 {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .proStaffEliteV2{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.padelCupra {
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .padelCupra{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
#paletasHead {
    @extend #paletasWilson
}

.headFlash{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headFlash{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.headFlashPro{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headFlashPro{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.headGravity{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headGravity{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.headGravityPro{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headGravityPro{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.headGravityMotion{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headGravityMotion{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.headZephyr{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headZephyr{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.headDelta{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headDelta{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.headEvoDelta{
    width: 390px;
    height: 240px;
    border-radius: 10px;
}
.divPaleta:hover .headEvoDelta{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.contenedorPadrePaletasHead {
    display: $dG;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

@media screen and (max-width:1000px) and (min-width:200px){
    .contenedorPadrePaletasWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}
@media screen and (max-width:1000px) and (min-width:200px){
    .contenedorPadrePaletasHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}


@media screen and (max-width:1000px) and (min-width:200px){
    #paletasWilson {
       font-size: $font-size-sm;
       position: relative;
       left: 250px;
       margin-top: 25px;
    }
}
@media screen and (max-width:1000px) and (min-width:200px){
    #paletasHead {
        font-size: $font-size-sm;
        position: relative;
        left: 250px;
        margin-top: 25px;
    }
}

/* INICIO ESTILO ACCESORIOS */
* {
    margin: 0;
    padding: 0;
}

#accesoriosWilson {
    text-align: center;
    font-size: $font-size-md;
    font-family: $font-family;
    color: map-get($colores, "primario");
    background-color: map-get($colores, "negro");
    padding: 5px;
    border: solid 1px map-get($colores, "primario");
    width: 120px;
    position: relative;
    left: 600px;
    justify-content: center;
    margin-top: 15px;
}

.divAccesorios {
    width: 300px;
    height: 300px;
    background-color: map-get($colores, "blanco");
    color: map-get($colores, "blanco");
    border: 2px solid map-get($colores, "primario");
    border-radius: 5px;

}
.divAccesorios:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.contenedorPadreAccesoriosWilson {
    display: $dG;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-left: 25px;
}


#accesoriosHead {
 @extend #accesoriosWilson
}

.contenedorPadreAccesoriosHead {
    display: $dG;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-left: 25px;
}

@media screen and (max-width:500px){
   .logo{
    visibility: hidden;
   }
}

@media screen and (max-width:600px) {
    .contenedorPadreAccesoriosHead {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}
@media screen and (max-width:600px) {
    .contenedorPadreAccesoriosWilson {
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
    }
}
@media screen and (max-width:600px) {
    #accesoriosHead{
      position: relative;
      left: 100px;
    }
}
@media screen and (max-width:600px) {
    #accesoriosWilson{
      position: relative;
      left: 100px;
    }
}
@media screen and (min-width:600px) {
    #accesoriosHead{
      position: relative;
      left: 300px;
    }
}
@media screen and (max-width:600px) {
    #accesoriosWilson{
      position: relative;
      left: 300px;
    }
}

@media screen and (max-width:900px) and (min-width:580px){
    .contenedorPadreAccesoriosWilson {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

@media screen and (max-width:900px) and (min-width:580px) {
    .contenedorPadreAccesoriosHead {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

/* FIN ESTILO ACCESORIOS */